@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: sans-serif;
  background: #e4f1ff;
  color: white;
}

html {
  scroll-behavior: smooth;
}

header,
nav,
section,
.content-container,
footer {
  display: flex;
  align-self: center;
  justify-content: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* #region menu */
/* ========== Menu ==========*/
header {
  /* border-bottom: 1.6em solid #ffffff; */
  position: sticky;
  width: 100%;
  z-index: 100;
  background: #ffffff;
}

footer {
  position: absolute;
  width: 100%;
  z-index: 100;
  text-align: center;
  background: #1d1d1d;
}

.pattern-div {
  background-image: url("../assets/greek-ornament.svg");
  background-size: contain;
  /* filter: hue-rotate(30deg) brightness(60%); */
  width: 100%;
  /* height: 1em; */
  padding: 0.2em;
  /* margin-left: auto;
      margin-top: 0; */
  z-index: 101;
  /* background-color: white; */
  /* border-top: solid 5px rgba(0, 0, 0, 75%);
      border-bottom: solid 5px rgba(0, 0, 0, 75%); */
}

header>.pattern-div {
  top: 100%;
  left: 0;
  position: absolute;
}

#logo-ref {
  display: flex;
  align-items: center;
}

#logo {
  z-index: 104;
  width: 5em;
  transition: 0.3s;
}

#logo:hover {
  transform: scale(1.2);
}

#footer-logo {
  z-index: 99;
  width: 4em;
  filter: brightness(0) invert();
  transition: 0.3s;
}

#footer-logo:hover {
  filter: drop-shadow(0 0 0.1em white);
  transition: 0.3s;
}

nav {
  z-index: 102;
  justify-content: space-between;
  width: max-content;
  align-items: center;
}

nav a {
  width: max-content;
  position: relative;
  text-decoration: none;
  color: rgb(0, 0, 0);
  font: 16px;
  padding: 1em 1em;
  border: 1px solid transparent;
  border-radius: 0.3em;
  /* transition: 0.5s; */
}

nav a:hover {
  /* border: 1px solid; */
  /* box-shadow: 0 0 15px #f6b73c, inset 0 0 5px #f6b73c; */
  filter: drop-shadow(0 0 1px #f6b73c);
  /* border-color: #f6b73c;
  border-image: linear-gradient(30deg,#f6b73c, #ff00a6) 1;
  border-width: 1px;
  border-style: solid; */
  color: #ffaa00;
}
nav a::before{
  content: "";
  width: 0%;
  position: absolute;
  height: 2px;
  left: 50%;
  bottom: 10%;
  background-color: #ffaa00;
  filter: drop-shadow(0 0 1px #f6b73c);
  transition: 0.3s;
}
nav a:hover:before{
  width: 100%;
  left: 0;
  transition: 0.3s;
}
#more-menu-button {
  margin-left: auto;
}

#more-menu-button:hover::after {
  color: #f6b73c;
}

#more-menu-button::after {
  content: '\2807';
  font-size: 2em;
  color: #1d1d1d;
}

#small-menu {
  display: none;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: #1d1d1d;
  position: relative;
  right: 0;
  top: 0;
  /* width: 50%; */
  height: max-content;
  z-index: 111;
  /* flex-direction: column;
  justify-content: center;
  align-items: flex-start; */
  /* border-style: none; */
  border-bottom: double 5px white;
  border-left: double white 5px;
  /* animation: showMenu 0.2s linear forwards; */
  /* pointer-events: none; */
  /* border-left: solid 5px #1d1d1d; */
}

#small-menu>* {
  pointer-events: all;
  text-align: center;
  background-color: white;
  padding: 1em 0em;
  width: 100%;
  word-break: break-all;
  white-space: nowrap;
  overflow: hidden;
  text-decoration: none;
  color: black;
}

#small-menu *:nth-child(1) {
  /* border-right: 5px double white; */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #1d1d1d;
  font-size: 30px;
  color: white;
  grid-area: 1 / 1 / 4 / 2;
  transition: 0.3s;
}

#small-menu *:nth-child(1):hover {
  color: red;
  transition: 0.3s;
}

#small-menu *:nth-child(2) {
  grid-area: 1 / 2 / 2 / 6;
}

#small-menu *:nth-child(3) {
  grid-area: 2 / 2 / 3 / 6;
}

#small-menu *:nth-child(4) {
  grid-area: 3 / 2 / 4 / 6;
}

#small-menu>a:hover {
  background-color: #ffaa00;
  color: white;
}
/* #endregion */

/* ========== Hero Section ==========*/
section {
  scroll-behavior: smooth;
  overflow: hidden;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 10px;
}

/* home */
.home {
  /* overflow: hidden; */
  margin: 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.bg-image {
  bottom: 0;
  height: 85%;
  position: fixed;
  z-index: -1;
  -webkit-user-drag: none;
  filter: opacity(25%);
}

.bg-image:nth-child(1) {
  right: 95%;
}

.bg-image:nth-child(2) {
  left: 95%;
}

.bg-image:nth-child(3) {
  z-index: -5;
  opacity: 25%;
}

.bg-image:nth-child(5) {
  scale: 2;
  position: fixed;
}


.content-div {
  background-color: rgb(255, 255, 255);
  background: repeating-radial-gradient(circle,
      rgba(96, 109, 188, 0),
      rgba(96, 109, 188, 0) 10px,
      rgba(70, 82, 152, 0.005) 10px,
      rgba(70, 82, 152, 0.005) 20px);
  overflow: hidden;
  position: relative;
  width: 95%;
  height: max-content;
  padding: 5em;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  border-radius: 1em;
  border: double 1mm rgba(78, 78, 78, 25%);
  /* outline: dashed rgb(203, 203, 203); */
}

.content-div::before {
  content: "";
  background-image: url(../assets/olympic_rings.svg);
  background-repeat: repeat-y;
  background-size: 25%;
  background-position-y: center;
  opacity: 2%;
  bottom: 0;
  top: 0;
  width: 100%;
  height: 100%;
  /* z-index:-1; */
  position: absolute;

}

.content-div * {
  margin: 5px 0;
  color: black;
  text-align: start;
  z-index: 80;
}

.content-div h1 {
  font-size: 30px;
}

.content-div p {
  font-size: 20px;
}

.content-div img {
  width: 30%;
  transition: 0.3s;
}

.more-button {
  background-color: rgb(225, 237, 242);
  border: solid 1px grey;
  border-radius: 30em;
  padding: 10px;
  text-align: center;
  font-size: 14px;
  display: flex;
  align-items: center;
  z-index: 80;
}

.more-button:hover {
  background-color: rgb(50, 194, 255);
  color: white;
}

.more-button:active {
  background-color: rgb(123, 213, 252);
  scale: 1.2;
}

.content-div img {
  pointer-events: none;
}

@media(min-width: 700px),
(min-height: 400px) {
  header {
    justify-content: space-between;
    padding: 0.8em 8em;
    transition: 0.3s;
  }

  #more-menu-button {
    display: none;
  }

  /* ========== Footer ==========*/
  footer {
    padding: 1.5em;
    font-size: 1em;
    /* overflow: hidden; */
    transition: 0.5s;
  }

  footer>.pattern-div {
    background-image: url("../assets/greek-ornament.svg");
    filter: saturate();
    z-index: 99;
    /* margin: auto; */
    background-repeat: repeat-x;
    position: absolute;
    /* bottom: 100%; */
    /* top: 0%; */
    bottom: 100%;
    transform: 0.3s;
  }
  .img-signed p{
    font-size: 14px;
    opacity: 0;
    transform: translateY(-25px);
    transition: 0.3s;
  }
  .img-signed:hover p{
    opacity: 100%;
    transform: translateY(-5px);
    transition: 0.3s;
  }
}

@media(max-width: 700px) and (min-height: 400px),
(max-height: 400px) and (min-width:700px) {

  .img-signed p{
    font-size: 14px;
    opacity: 100%;
    transform: translateY(-5px);
    transition: 0.3s;
  }
  /* ========== Footer ==========*/
  footer {
    padding: 1.5em;
    font-size: 1em;
    transition: 0.5s;
  }

  nav a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 1em 0.5em;
    width: max-content;
    border: 1px solid transparent;
    border-radius: 0.3em;
    overflow: hidden;
    text-overflow: ellipsis;
    /* transition: 0.5s; */
  }

  header {
    justify-content: center;
    padding: 0.7em 1em;
    transition: 0.3s;
  }

  #logo {
    /* display: none;
    visibility: collapse; */
    /* width: 3em; */
    margin-right: 10px;

    transition: 0.3s;
  }

  nav {
    display: none;
  }

  #more-menu-button {
    display: block;
  }

  footer>.pattern-div {
    /* margin: 0; */
    /* bottom: 0; */
    z-index: 99;
    position: absolute;
    top: 0%;
    transform: 0.3s;
  }

  .content-div {
    padding: 2em;
  }

  .content-div * {
    font-size: 100%;
  }

  .content-div>img {
    width: 70%;
    transition: 0.3s;
  }
}

.img-signed{
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* width: max-content;
  height: max-content; */
}
.img-signed img{
  border: double 5px #1d1d1d;
}
.img-signed:hover img{
  /* filter: drop-shadow(0 0 5px rgba(255, 215, 0,0.4)); */
  transition: 0.3s;
}
@keyframes showMenu {
  0% {
    width: 0;
    opacity: 0%;
  }

  100% {
    opacity: 100%;
    width: 75%;
  }
}

@keyframes hideMenu {
  from {
    opacity: 100%;
    width: 75%;
  }

  to {
    width: 0%;
    border: 0;
    opacity: 0%;
  }
}