#ioc-img {
    width: 20em;
    min-width: 20em;
    border: #1d1d1d double 5px;
    margin-top: 0;
}

.bold-span {
    font-weight: bold;
}

.img-bordered {
    border: double 5px #1d1d1d;
}

#changing-img {
    width: 20em;
    filter: grayscale();
}

#ch-img-div {
    border: #1d1d1d double 5px;
    overflow: hidden;
    display: inline-block;
    width: max-content;
    height: 200px;
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

ul li {
    font-size: 14px !important;
    margin: 10px !important;
    /* display: inline-block; */
}

#summer-ul {
    list-style-image: url(../assets/sun.svg);
}

#winter-ul {
    list-style-image: url(../assets/snowflake.svg);
}

::-webkit-scrollbar {
    width: 15px;
    background-color: #1d1d1d;
}

::-webkit-scrollbar-thumb {
    background-color: white;
    border-left: solid #1d1d1d 6px;
    border-right: solid #1d1d1d 6px;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #ffaa00;
    filter: drop-shadow(0 0 5px #ffaa00);
}