<header>
    <div class="pattern-div"></div>
    <a id="logo-ref" href="index.html"><img id="logo" X-UA-Compatible src="../assets/olympic_rings.svg"
            alt="Логотип"></a>
    <nav>
        <a href="types.html">Виды</a>
        <a href="news.html">Следующие игры</a>
        <a href="about.html">О нас</a>
    </nav>
    <div id="more-menu-button" onclick="displayMenu()"></div>
</header>
<div id="small-menu" onclick="hideMenu()">
    <div>X</div>
    <a href="types.html">Виды</a>
    <a href="news.html">Следующие игры</a>
    <a href="about.html">О нас</a>
</div>